.title {
    background-color: #F13C6E;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 35px 40px;
    gap: 10px;
}

.title_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.title_stock {
    padding: 25px 0;
    color: white;
}

.mail {
    padding: 9px 25px;
    border-radius: 30px;
    border: 1px solid #F13C6E;
}

.bonus_and_map {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 100px 0 100px 10px;
}

.map {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 12px 26px;
    border: 2px solid white;
    border-radius: 40px;
    max-width: 170px;
    margin-top: 62px;
    padding: 9px 28px;
    margin: 0;
    transition: 0.5s;
}
