.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.indent {
    margin-top: 80px;
}

.pop_category {
    padding: 20px;
    width: 20%;
}

.in_footer {
    padding: 40px 0 30px 0;
}

.categoty_list {
    padding: 25px 0 92px 0;
}

.category, .rights_reserved, .confidentiality {
    text-decoration: none;
    color: #828282;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
}

.nav_soc_net {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.soc_net {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}