.header, .calling {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
    flex-wrap: wrap;
    padding: 0 10px;
    gap: 10px;
}

.calling {
    gap: 40px;
}

.number {
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.call_back {
    border: 2px solid rgba(241, 60, 110, 1);
    padding: 17px 27px;
    border-radius: 40px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
