.bcg__nav__two {
    min-height: 79px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-navigation__link {
    margin-right: 40px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    padding: 17px 30px;
}

.main-navigation__link:nth-last-child(1) {
    margin-right: 0;
}

.bcg_header, .bcg__nav, .bcg__footer {
    background-color: white;
}
