.support-navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.support-navigation__link {
    margin-right: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
    padding: 17px 30px;
}

.support-navigation__link:nth-last-child(1) {
    margin-right: 0;
}
